@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}




body {
  /* width: 100vw;
  height: 100vh; */
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
}


/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


.chakra-accordion__itemTrigger {
  cursor: pointer;
}


.greetingBg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/backgroundImg.jpg');
  background-size: cover;  /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
}

.portfolioBg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/portfolioBg.jpg');
  background-size: cover;  /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
}

.visionBg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/visionBg.jpg');
  background-size: cover;  /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* CSS Animations */
@keyframes loopTopToBottom {
  0% {
    transform: translateY(-100vh);  /* Start before the first image */
  }
  100% {
    transform: translateY(0);  /* Move out after the last image */
  }
}

@keyframes loopBottomToTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* splash v2 */
.ltt_wrapper.v2 {
    position: fixed; width: 100%; height: 100%; background: rgb(239,236,236); background: #fff; margin: auto; top: 0; left: 0; right: 0; bottom: 0;
    max-width: 700px; box-sizing: border-box; padding: 0; z-index: 1001;
}
.ltt_wrapper.v2 .bg__ { width: 100%; height: 100%; position: absolute; z-index: 1; }
.ltt_wrapper.v2 > .opening_v2_bg { position: absolute; width: 100%; height: 100%; box-sizing: border-box; margin: auto; top: 0; left: 0; right: 0; bottom: 0;z-index: 10; overflow: hidden; }

.ltt_wrapper.v2 .bg_div { overflow: hidden; width: 100%; height: 100%; position: relative; background: #F9F4EE; top: 0; left: 0; bottom: 0; right: 0; margin: auto;}
.ltt_wrapper.v2 .overlay-div {position: absolute; top: 0; left: 0; bottom: 0; right: 0;margin: auto; z-index: 11; background: #F9F4EE; width: 100%; height: 100%; opacity: 0.4; }
.ltt_wrapper.v2 .bg_div > img {position: absolute;top: 0;left: 0; right: 0; margin: auto; object-fit: cover;object-position: center;}
.ltt_wrapper.v2 .bg_div > .img_01 { z-index: 2; width: 120%; height: 100%; opacity: 1; }
.ltt_wrapper.v2 .bg_div > .img_02 { z-index: 1; width: 100%; height: 100%; transform: scale(1); opacity: 1; }

.ltt_wrapper.v2 .bg_div { opacity: 1; }
.ltt_wrapper.v2 .overlay-div { opacity: 0.4; }
.ltt_wrapper.v2 .bg_div > .img_01 { transform: translateX(0%); opacity: 1; }
.ltt_wrapper.v2 .bg_div > .img_02 { opacity: 1; transform: scale(1); }

.ltt_wrapper.v2.keys .bg_div {  animation: op2_whole_wrap 5.0s linear forwards;  }
.ltt_wrapper.v2.keys .overlay-div { animation: op2_overlay 5.0s linear forwards; }
.ltt_wrapper.v2.keys .bg_div > .img_01 {  animation: op2_move_x 2.0s linear forwards, op2_move_x_img 5s linear forwards; }
.ltt_wrapper.v2.keys .bg_div > .img_02 {  animation: op2_scale_up_img 5s linear forwards, op2_scale_up 5s linear forwards; }

.ltt_wrapper.v2 > .opening_v2_text { position: absolute; width: 90%;box-sizing: border-box;margin: auto; left: 0; right: 0; bottom: 4%;z-index: 20; overflow: hidden; background: transparent; aspect-ratio: 1080/500; }
.ltt_wrapper.v2 > .opening_v2_text svg { margin: auto; top: 0; left: 0; right: 0; bottom: 0; position: absolute; width: 100% !important; height: auto !important; max-width: 600px; }

.ltt_wrapper.v2.overlay-color-purple .bg_div,
.ltt_wrapper.v2.overlay-color-purple .overlay-div {
    background-color: #382c30 !important;
}


@keyframes op2_move_x {
    from {transform: translateX(0%);}
    to {transform: translateX(-10%);}
}
@keyframes op2_move_x_img {
  0%    {opacity: 1; }
  40.3% { opacity: 1; }
  40.4% { opacity: 0; }
  100%  {opacity: 0; }
}
@keyframes op2_scale_up {
    0% { transform: scale(1); }
    40% { transform: scale(1); }
    100% { transform: scale(1.15); }
}
@keyframes op2_scale_up_img {
    0% { opacity: 1; }
    74% {opacity: 1; }
    80% {opacity: 0; }
    100% {opacity: 0;}
}
@keyframes op2_overlay {
    0% { opacity: 0.4; }
    25.3% { opacity: 0.4; } /* 01:16 */
    40.3% { opacity: 1.0; } /* 02:01 */
    44% { opacity: 0.4; } /* 02:12 */
    80% { opacity: 0.4; } /* 04:00 */
    84.7% {opacity: 1.0; } /* 04:11 */
    100% {opacity: 0;} /* 05:00 */
}
@keyframes op2_whole_wrap {
    0% { opacity: 1; }
    84.7% {opacity: 1; } /* 04:11 */
    94.7% {opacity: 0.3; } /* 04:11 */
    100% {opacity: 0;} /* 05:00 */
}
/* splash v3 */
.ltt_wrapper.v3 {position: fixed; width: 100vw; height: 100vh; margin: auto; top: 0; left: 0; right: 0; bottom: 0; max-width: 425px; box-sizing: border-box; padding: 0; z-index: 1001;  background: transparent; }
.ltt_wrapper.v3 .bg__ { width: 100%; height: 100%; position: absolute; z-index: 1; background: rgb(0,0,0,0.5); opacity: 0.5; }

.ltt_wrapper.v3 {opacity: 1;}
.ltt_wrapper.v3 .bg__ {opacity: 0.5;}

.ltt_wrapper.v3.keys {animation: op3_opacity_after 2s linear forwards; animation-delay: 3s;}
.ltt_wrapper.v3.keys .bg__ {animation: op3_opacity 3s linear forwards;}
.ltt_wrapper.v3 > .opening_v3 {position: absolute;width: 100%;height: 100%;box-sizing: border-box;  margin: auto; top: 0; left: 0; right: 0; bottom: 0; z-index: 20;overflow: hidden;}
.ltt_wrapper.v3 > .opening_v3 svg { margin: auto; top: 0; left: 0; right: 0; bottom: 0; position: absolute; width: 100% !important; height: auto !important; max-width: 500px;}
@keyframes op3_opacity {
    from { opacity: 0.5; }
    to {opacity: 1;}
}
@keyframes op3_opacity_after {
    0% { opacity: 1; }
    50% {opacity: 0;}
    100% {opacity: 0;}
}

/* ------------------------------------------------ */
/* 스크롤바 숨기기 CSS 클래스 */
/* ------------------------------------------------ */
.hideScrollbar {
  /* 1. Firefox용 (최신 표준) */
  scrollbar-width: none;
  
  /* 2. IE 및 Edge (구버전 MS 브라우저용) */
  -ms-overflow-style: none;
}

/* 3. 웹킷 기반 브라우저 (Chrome, Safari, Edge)용 */
.hideScrollbar::-webkit-scrollbar {
  /* 스크롤바의 너비(세로)와 높이(가로)를 0으로 설정하여 보이지 않게 함 */
  width: 0px; 
  height: 0px;
  /* (선택 사항) 스크롤바 영역 자체를 완전히 비활성화 */
  display: none; 
}



